# .clang-format

Language: Cpp
BasedOnStyle: Microsoft
IndentWidth: 4
TabWidth: 4
UseTab: Never
AllowShortLambdasOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: true
SpacesInParentheses: false
SpacesInAngles: false
SpaceBeforeSquareBrackets: false
ColumnLimit: 104
SortIncludes: false
IncludeBlocks: Regroup

IncludeCategories:
  - Regex: '^<.*>'
    Priority: 1
  - Regex: '^".*"$'
    Priority: 2
  - Regex: '.*'
    Priority: 3

Cpp11BracedListStyle: true
DerivePointerAlignment: false
PointerAlignment: Left
AlignTrailingComments: true
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
